/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/

:root{
    /*Colores*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201e1c;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/***HEADER***/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /**Dimesión más pequeña en celulares*/
    height: 334px;
    text-align: center;
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);/*uso de linear-gradient*/
}
  
/*Estilo Imagen*/

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*centrar un elemento concontendor display:flex:*/
}

/*Estilo al DIV*/

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px; /*se deprende del logo*/
    text-align: center;
    align-self: center;
}

/*H1*/
.header--title-container h1{
    font-size: 2.rem;
    font-weight: bold;/*letras gorditas*/
    line-height: 2.6rem; /*Espacios entre lienas*/
    color: var(--just-white);
}


/*Parrafo*/

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

/*Posicion Botton Flotante*/

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    /*domencion de fuentes*/
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

/*icono del boton*/
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}


/********************************/


/*Seccion main*/

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

/*Estilo contenedor seccion intercambio*/

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--tittle{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

/**Imagen de background**/

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/imgs/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/**h2**/
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

/*Parrafo*/

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/** Seccion del scrol o tablas***/

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    

}

.main-currency-table .currency-table--tittle{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

/**Estilo contenedor de la tabla**/

.currency-table-container{
   width: 90%;
   min-width: 230px;
   max-width: 300px;
   height: 250px;
   margin: 0 auto; 
   
}

.currency-table-container table {
    width: 100%;
    height: 100%;
    
}

.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    box-shadow: 10px 10px 10px rgb(89 73 30 / 16%);
}

.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table-container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table-container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table-container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.currency-table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/**Actualizado**/

.currency-table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}




/********************seccion beneficios************************/

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    justify-content: center;
    padding: 20px 10px;
    background-color: var(--warm-black);
}



/**logo***/
.product-detail--batata-logo{
    position: absolute;  
    width:40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}

.product-detail--tittle{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--tittle h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--tittle p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}


/***Estilo de las tarjetas**/

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--black) ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,  0.16);
}

.product-detail--card  .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/clock.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.product--card-tittle{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}


/*********Secciones Planes***********/

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/imgs/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}


/*******Seccione PLanes********/

/**primer card 1 TAMAÑO*/

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--tittle {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--tittle h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--tittle p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/**Estilo de la terjeta 1**/

.plans-container--card {
    position: relative;
    scroll-snap-align: center; 
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}


/***Recomendado**/

.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}


.plan-card--tittle{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}

.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border:2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
}


/*******Tarjeta Dos********/

.plans-container--card2 {
    position: relative;
    --scroll-snap-align: center; 
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}


/***Recomendado**/

.recomendado2{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}


.plan-card--tittle2{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price2 {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan-card--price2 span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}

.plan-card--saving2 {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca2{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border:2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca2 span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
}




/*******Tarjeta Tres********/

.plans-container--card3 {
    position: relative;
    scroll-snap-align: center; /**Se coloca para que funcione el scroll**/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}


/***Recomendado**/

.recomendado3 {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}


.plan-card--tittle3 {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price3 {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan-card--price3 span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}

.plan-card--saving3 {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca3 {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border:2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca3 span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
}


/******Scroll Horizontal********/

.plans-container--slider{
    display: flex;
    gap: 10px;  /*Espacio entre tarjetas*/
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}



/***FOOTER***/

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}